html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', "Roboto";
    box-sizing: border-box;
    color: var(--primary-white);
    overflow-x: hidden;
}

:root{
  --primary-white: #fff;
  --primary-purple: #2E0347;

}

*{
  box-sizing: border-box;

}

h2, h3 {
  color: var(--primary-purple);
}

p{
  color: black;
}

.Layer-Dark{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -100;
}

.Page{
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000;
}

a{
  text-decoration: none;
  color: var(--primary-white);
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  z-index: 1000;
}

.Navbar a{
  margin-right: 5rem;
  font-weight: 200;
  font-size: 30px;

}

@media Screen and (max-width: 1600px){
  .Video-Container{
    display: none;
  }

  /* .Layer-Dark{
    display: none;
  } */
}