html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', "Roboto";
    color: var(--primary-white);
    overflow-x: hidden;
}

:root{
  --primary-white: #fff;
  --primary-purple: #2E0347;

}

*{
  box-sizing: border-box;

}

h2, h3 {
  color: var(--primary-purple);
}

p{
  color: black;
}


a{
  text-decoration: none;
  color: var(--primary-white);
}





