html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", "Roboto";
  color: var(--primary-white);
  overflow-x: hidden;
  min-height: 100vh;
}

:root {
  --primary-white: #fff;
  --primary-purple: #2e0347;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #2e0347;
  font-size: 2.5rem;
  @media (max-width: 800px) {
    font-size: 2rem;
  }
}

h2,
h3 {
  color: var(--primary-purple);
}

p {
  color: black;
}

a {
  text-decoration: none;
}

span {
}

.Selected {
  border-bottom: 3px solid #2e0347;
}

button {
  outline: none;
  border: none;
}

.capital {
  color: var(--primary-purple);
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  border-radius: 10px;
  width: 8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  color: var(--primary-white);
  background-color: var(--primary-purple);
}

.gap {
  gap: 3rem;
}

.bg-purple {
  color: white !important;
  background: var(--primary-purple) !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  width: 100%;
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
